---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single.html  %}
{% endfor %}-->

<h2><a href="https://msr4sbom.github.io/">MSR4SBOM: Mining Software Repositories for enhanced Software Bills of Materials</a></h2><br/>
• Research Project of National Interest (PRIN), PNRR, funded by the European Union NEXTGenerationEU and Italian Ministry of the University and Research (MUR)
• Period: November 2023 - November 2025
• Partners: University of Salerno and University of Sannio
• Principal Investigator: Prof. Giuseppe Scanniello
• Role: Team component
• Description: MSR4SBOM is a project that aims to deliver a framework that analyzes the content of software repositories and Software Bills of Materials (SBOMs) to provide context-sensitive recommendations. MSR4SBOM will support software engineers with: <i>(i)</i> managing dependencies in software supply chains, <i>(ii)</i> tracking the provenance of software components and source code, <i>(iii)</i> detecting licensing issues, and <i>(iv)</i> providing security recommendations for vulnerable dependencies
• Website: <a href="https://msr4sbom.github.io/">https://msr4sbom.github.io/</a>
