---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---
<!-- 
{% include base_path %}

{% for post in site.services reversed %}
  {% include archive-single.html  %}
{% endfor %} -->

<h2>Conference Services</h2>

<ul>
  <li>
    <i>2025</i> - <b>Web Chair</b> for the 2nd International Workshop on Methodological Issues with Empirical Studies in Software Engineering <b><a href="https://conf.researchr.org/home/icse-2025/wsese-2025">WSESE</a></b>, co-located with the 47th International Conference on Software Engineering <b><a href="https://conf.researchr.org/home/icse-2025">ICSE</a></b> (Ottawa, Ontario, Canada)
  </li>
  <li>
    <i>2024</i> - <b>Student Volunteer</b> at the 46th International Conference on Software Engineering <b><a href="https://conf.researchr.org/home/icse-2024">ICSE</a></b> (Lisbon, Portugal)
  </li>
</ul>

<h2>Journal Services</h2>

<ul>
  <li>
    <i>2023 - Present</i> - <b>Reviewer</b> for ACM Transactions on Software Engineering and Methodology  <b><a href="https://dl.acm.org/journal/tosem">TOSEM</a></b>
  </li>
</ul>
