---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<ul>
  <li>
    <i>October 24, 2024</i> - <b>Paper presented</b> at the 18th International Symposium on Empirical Software Engineering and Measurement <b><a href="https://conf.researchr.org/home/esem-2024">ESEM</a></b> (Barcelona, Spain): <b><a href="https://doi.org/10.1145/3674805.3695390">MSR4SBOM: Mining Software Repositories for enhanced Software Bills of Materials</a></b>
  </li>
  <li>
    <i>April 19, 2024</i> - <b>Paper presented</b> at the 46th International Conference on Software Engineering <b><a href="https://conf.researchr.org/home/icse-2024">ICSE</a></b> (Lisbon, Portugal): <b><a href="https://doi.org/10.1145/3639474.3640073">Training for Security: Results from Using a Static Analysis Tool in the Development Pipeline of Web Apps</a></b>
  </li>
  <li>
    <i>September 06, 2023</i> - <b>Papers presented</b> at the 49th Euromicro Conference on Software Engineering and Advanced Applications <b><a href="https://dsd-seaa2023.com/seaa/">SEAA</a></b> (Durres, Albania): <b><a href="https://doi.org/10.1109/SEAA60479.2023.00069">A Large-scale Fine-grained Empirical Study on Security Concerns in Open-source Software</a></b> and <b><a href="https://doi.org/10.1109/SEAA60479.2023.00046">Managing Vulnerabilities in Software Projects: the Case of NTT Data</a></b> 
  </li>
  <li>
    <i>June 16, 2023</i> - <b>Paper presented</b> at the 27th International Conference on Evaluation and Assessment in Software Engineering <b><a href="https://conf.researchr.org/home/ease-2023">EASE</a></b> (Oulu, Finland): <b><a href="https://doi.org/10.1145/3593434.3593957">Training Bachelor Students to Design Better Quality Web Apps: Preliminary Results from a Prospective Empirical Investigation</a></b>
  </li>
  <li>
    <i>May 17, 2023</i> - <b>Paper presented</b> at the 45th International Conference on Software Engineering <b><a href="https://conf.researchr.org/home/icse-2023">ICSE</a></b> (Melbourne, Australia): <b><a href="https://doi.org/10.1109/ICSE-SEET58685.2023.00010">Training for Security: Planning the Use of a SAT in the Development Pipeline of Web Apps</a></b>
  </li>
</ul>
