---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<h2>Teaching Assistant</h2>
<li>
  <i>2021 - 2024</i> - <b><a href="https://unisa.coursecatalogue.cineca.it/insegnamenti/2023/511551/2017/9999/500153?coorte=2022&schemaid=17311">Web Software Technologies</a></b> course, which is held in the second year of the Computer Science B.Sc. program at the University of Salerno
</li>
